# Database connection
spring.datasource.url=
spring.datasource.username=
spring.datasource.password=

# JPA / Hibernate 
spring.jpa.hibernate.ddl-auto=
spring.jpa.show-sql=
spring.jpa.properties.hibernate.format_sql=
spring.jpa.database-platform=org.hibernate.dialect.PostgreSQLDialect

# SQL logs
logging.level.org.hibernate.SQL=DEBUG
logging.level.org.hibernate.type.descriptor.sql=TRACE
